/* src/components/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F13C20; /* Coral */
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #070707; /* Text color for links */
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    padding-bottom: 5px; /* Space for the underline */
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F13C20; /* Coral for the underline */
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%; /* Full width underline on hover */
}

.navbar-button {
    background-color: #F13C20; /* Coral */
    color: #FFF; /* White text */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease; /* Smooth transition */
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #e4553f; /* Darker shade for hover effect */
}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
}

/* Modal Content */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 100%;
    position: relative;
}

/* Close button for the modal */
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f13c20;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.close-modal:hover {
    background-color: #e63946;
}
