.events-page {
  text-align: center;
  padding: 20px;
}

.calendar-wrapper {
  width: 80%;
  margin: 0 auto; /* Center the calendar horizontally */
  max-width: 1200px; /* Optionally set a max width for large screens */
}
